/*--------------------------------------------------------- Formato global de letra----------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*------------------------------------------------------- Formato títulos y subtitulos ------------------------------------------------------*/
h2 {
  margin: 20px;
  color: #474747;
  font-size: 22px;
}

/* ------------------------------------------------------------Formato header ---------------------------------------------------------------*/
header {
  display: block;
  position: sticky;
  margin-top: 0%;
  background-color: #ee8495;
  width: 100%;
}

header h2 {
  font-size: 24px;
  font-weight: 600;
}

header p {
  margin-top: 5px;
  font-size: 16px;
}

/* -------------------------------------------------------------Formato logo----------------------------------------------------------------- */

.logo {
  max-width: 150px;
  width: 100%;
}

/*-----------------------------------------------------------Formato nombre marca------------------------------------------------------------ */

h1 {
  color: #ffffff;
  font-size: 24px;
  background-color: #34a5b6b0;
  padding: 0.7%;

}

/*-------------------------------------------------------------Formato main -------------------------------------------------------------------*/
main {
  margin-bottom:5%;
}

/* --------------------------------------------------------------Formato h3 -------------------------------------------------------------------*/
.h3 {
  font-size: 18px;
  color: #313131;
  margin: 15px;
  font-family: sans-serif;
}

/*-------------------------------------------------------------- Formato links ---------------------------------------------------------------*/
a {
  text-decoration: none;
  margin: 5px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
}

a:hover {
  opacity: 0.75;
  color: #fffefc;
  text-decoration: none;
}

/* ---------------------------------------------------------- Formato de botones ------------------------------------------------------------ */
.btn_buscar {
  background-color: #b24c6c;
  border: #770d2f;
}

.btn_buscar:hover {
  background-color: #da6b8e;
}

.btn_filtro {
  padding: 10px 20px;
  background-color: #f4a289;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.pag_img_btn_orden {
  display: flex;
  flex-flow: wrap;
  width: 950px
}

/* --------------------------------------------------------- Formato de imagenes------------------------------------------------------------- */
.img_index {
  margin: 15px;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.img_index img {
  max-width: 350px;
  width: 100%;
}

.img {
  margin: 15px;
}

.img-fluid {
  max-width: 280px;
  width: 100%;
}

.img_index2 {
  margin: 20px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;

}

.img_index2 div img {
  width: 200px;
  height: 200px;
}

/* -------------------------------------------------Formato imagenes dentro de pag de venta --------------------------------------------------*/
.piezas_div {
  display: flex;
  flex-flow: wrap;
  margin: 15px;
}

/*----------------------------------------------------Formato de imagen pagina sobre nosotros------------------------------------------------ */
.col img {
  padding: 20px;
}

/*-----------------------------------------------------Formato de texto debajo de imagenes ---------------------------------------------------*/
.img_index2 div p {
  width: 200px;
  height: 80px;
  display: flex;
  flex-flow: wrap;
}

/* ------------------------------------------------------------Formato videos---------------------------------------------------------------- */
.videos {
  flex-flow: wrap;
  display: flex;
  gap: 1rem;
  list-style: none;
}

/* -------------------------------------------------------Formato de checkbox ----------------------------------------------------------------*/
.pag_rango_checkbox {
  display: flex;
  flex-flow: wrap;
  width: 500px;
  margin: 15px;
}

.caja {
  background-color: #caecf5;
  width: 150px;
  height: 300px;
  margin: 10px;
  padding: 10px;
}

/* -----------------------------------------------------------Formato footer----------------------------------------------------------------- */
footer {
  background-color: #ee8495;
  bottom: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.list_footer {
  list-style: none;
  display: flex;
  margin-top: 1%;
  margin-right: 1%;

}

footer a:hover {
  color: #e4e4e4
}

footer a {
  color: #ffffff;
}

/* ------------------------------------------------------------Formato mapas ----------------------------------------------------------------*/
.mapa {
  border: 5px solid #f4a289;
  width: 310px;
  height: 230px;
}

/*----------------------------------------------------------- Formato iframe mapas -----------------------------------------------------------*/
.mapa iframe {
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------- Formato de elementos del formulario contacto------------------------------------------- */
.form-control {
  background-color: #fbf6ed;
}

.form-group {
  width: 100%;
}

.form_contacto {
  width: 800px;
  padding: 15px;
}

.form_contacto_img {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

/* ---------------------------------------------------Formato botón enviar de formulario contacto--------------------------------------------*/
.btn_contacto {
  color: #ffffff;
  background-color: #52a4b0;
  border: #1d7c8b;
  margin-left: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.btn_contacto:hover {
  background-color: #04434d;
  color: #ffffff
}

/*----------------------------------------------------------- Formato rango de precio----------------------------------------------------------*/
/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.wrapper {
  width: 300px;
  background-color: rgb(250, 241, 206);
  border-radius: 10px;
  padding: 20px 25px 40px;
  box-shadow: 0 12px 35px #04434d31;
  height: 400px;
}

.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
  flex-flow: wrap;
}

.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  flex-flow: wrap;
}

.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 14px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
  display: flex;
  flex-flow: wrap;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}

.slider .progress {
  height: 100%;
  left: 5%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background: #f48845;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #f48845;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17A2B8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* ----------------------------------------------------------------Formato Grilla------------------------------------------------------------*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 10px;
  border: solid #45a7c3;
}

.grid_header {
  background-color: #349ebb;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid_item {
  background-color: #caecf5;
  color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

/*-------------------------------------------------------------------Formato span----------------------------------------------------------- */
span {
  font-size: 14px;
}

/*------------------------------------------------Formato de distribución página puntos de venta-------------------------------------------- */

.puntos_venta {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

/*------------------------------------------------------------Responsive Media query---------------------------------------------------------*/
/*Ajuste en tamaño de letra*/
@media only screen and (max-width: 500px) {
  a {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  header h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  header p {
    font-size: 18px;
  }
}

/*Eliminar selector de tipo de producto y rango de precio*/
@media screen and (max-width: 500px) {
  .pag_rango_checkbox {
    display: none !important;
  }
}

/*Cambio color de header
@media screen and (max-width: 300px) {
  header {
    background-color: #ffffff;
  }
}
@media screen and (max-width: 300px) {
  header a{
    color: #ee8495 ;
    font-weight: 500;
  }
}