/* -----------------------------------------------------------Importación variables y maps------------------------------------------------- */
@import"../base/variables";
@import "../base/maps";

/* -----------------------------------------------------------Formato footer----------------------------------------------------------------- */
footer {
    background: linear-gradient(360deg, $color_principal_darker 0%, $color_principal 100%);
    bottom: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    a {
        color: $color_blanco;

        &:hover {
            color: $color_hover_gral;
        }
    }

    .list_footer {
        list-style: none;
        display: flex;
        margin-top: 1%;
        margin-right: 1%;
    }
}