/* Colores básicos */

$color_principal: #ee8495;

$color_principal_darker: #b24c6c;

$color_principal_darkest: #770d2f;

$color_azulverdoso: #34a5b6b0;

$color_btn_contacto: #52a4b0;

$color_hoveryborde_btn_contacto: #04434d;

$color_naraja: #f4a289;

$color_amarillo: #faf1ce;

$color_amarillo_lighter: #fbf6ed;

$color_hover_gral: #e4e4e4;

$color_hover_btn_buscar: #db2c64;

$color_celeste: #caecf5;

$color_celeste_darker: #349ebb;

$color_tituloysubt: #474747;

$color_texto_gral: #313131;

$color_blanco: #ffffff;

$color_sombra: #87878773